# Import required packages
# none so far

importFrom("stats", "rnorm")
 
# Load dynamic libraries (shared object files)
useDynLib(BicMix)
 
# Export functions defined in R code
export(“BicMixR")
export("gen_BicMix_data")